/* src/components/Header/Header.module.css */

.mainHeader {
  background-color: var(--accent-color);
  padding: var(--space-sm) 0;
  color: var(--white);
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navLink {
  color: var(--white);
  text-decoration: none;
  margin: 0 var(--space-sm); 
  font-weight: bold;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: var(--primary-color);
}