/* src/pages/HomePage/HomePage.module.css */

.heroAboutRow {
     display: flex;
     flex-direction: column;
     align-items: stretch;
    gap: var(--spacing-sm) ;
}


@media (min-width: 768px) {
.heroAboutRow {
     display: flex;
     flex-direction: row;
     align-items: stretch;
    gap: var(--spacing-md) ;
}
}
